.webLink{
    display: flex;
    flex-direction: column;
}
.webHead{
    width: 100%;
}
.edit{
    background: #f3912e;
    padding: .2rem 1rem;
    border-radius: 10%;
}
.linkBox{
    display: grid;
    gap: 0 30px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    height: auto;
    overflow: hidden;
    width: 100%;
}